--extra-index-url https://download.pytorch.org/whl/cu124

torch
torchvision
insightface
onnx
onnxruntime-gpu
onnxscript
opencv-python-headless
pillow
numpy
matplotlib
pandas
scikit-learn
tqdm
ipykernel
