--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.11.0+cu128
torchvision==0.26.0+cu128

numpy
insightface
opencv-python-headless
scikit-learn
matplotlib
seaborn
tqdm
pillow
ipywidgets
pandas
scipy
onnxruntime-gpu
albumentations
pydantic
kagglehub